<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap TAGS from (getbootstrap.com/docs) -->
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- Bootstrap TAGS -->

</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Begin of Registration Section -->
            <div class="col">
                <h2 class="text-center mt-5">Registration</h2>
                {% if request.session.action == "register" %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <form action="/user/register" method="POST">
                    {% csrf_token %}
                    <div class="row g-5 mb-2 justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">First Name*</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="first_name" value="{{request.session.first_name}}">
                        </div>
                    </div>
                    <div class="row g-5 mb-2 row justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Last Name*</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="last_name" value="{{request.session.last_name}}">
                        </div>
                    </div>
                    <div class="row g-5 mb-2 justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Email*</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" name="email" value="{{request.session.email}}">
                        </div>
                    </div>
                    <div class="row g-5 mb-2 justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Birthday*</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" class="form-control" name="birthday" value="{{request.session.birthday}}">
                        </div>
                    </div>
                    <div class="row g-5 mb-2 row justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Password*</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="row g-5 mb-2 row justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Confirm PW*</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" class="form-control" name="c_password">
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
            <!-- End of Registration Section -->

            <!-- Begin of Login Section -->
            <div class="col">
                <h2 class="text-center mt-5">Login</h2>
                {% if request.session.action == "login" %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <form action="/user/login" method="POST">
                    {% csrf_token %}
                    <div class="row g-5 mb-2 justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Email*</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" name="email" value="{{request.session.login_email}}">
                        </div>
                    </div>
                    <div class="row g-5 mb-2 row justify-content-md-center">
                        <div class="col-3">
                            <label class="form-label">Password*</label>
                        </div> 
                        <div class="col-auto">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </form>
            </div>
            <!-- End of Login Section -->
        </div>
        <br>
        <p>All fields marked (*) are mandatory</p>
        <a href="/clear_all">Clear all forms</a>
    </div>
</body>

</html>